
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-default">
    <div class="panel-heading"><p class="text-center text-muted"><b>PRATOS</b></p></div>
    <div class="panel-body">
        <button class="btn btn-success" id="btn_toobar" onclick="AddPrato()"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Novo</button>
        <table id="tablePratos" class="table table-bordered"
               data-toggle="table"
               data-pagination="true"
               data-unique-id="ID"
               data-search="true"
               data-search-align="left"
               data-toolbar-align="right"
               data-toolbar="#btn_toobar">
            <thead>
                <tr>
                    <th data-field="ID" data-sortable="true">ID</th>
                    <th data-field="Nome" data-sortable="true">Nome</th>
                    <th data-field="Valor" data-sortable="true" data-formatter="FormataPrecos">Valor</th>
                    <th data-field="NomeRestaurante" data-sortable="true">Nome Restaurante</th>
                    <th data-field="ID" data-formatter="Acoes">Ações</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>


@section scripts {
    <script src="~/js/prato.js"></script>
}

